html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 20px;
  user-select: none;
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
    background-color: #3f494c;
}

.title{
  color: #fff;
  text-align: center;
}
button {
  outline: none;
  border: 0;
  padding: 16px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  color: #ffce5c;
  transition: all 300ms;
}

button:hover {
  color: #00a3f5;
  border: 1px solid #ffce5c22;
}

.funtions button, .mathe button {
  display: inline-block;
  width: 80px;
  height: 64px;
  color: #d63c6b
}

.funtions button:hover, 
.mathe button:hover {
  color: #b696a0;
}

.numbers {
  width: 240px;
  float: left;
}

.numbers button {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  float: left;
}

.numbers button:last-child {
  width: 100%;
}